<style> 
	body {
			background-image: url("1.jpg");
			background-repeat: no-repeat;
			background-position: center right; 
			background-size: 400px 350px;
		 }
</style>

<h2> Click on the required month below </h2> <br> <br>
<%= link_to 'February 2016', pay_schedule_path %> <br>
<%= link_to 'March 2016', march_path %> <br>
<%= link_to 'April 2016', april_path %>  <br>
<%= link_to 'May 2016', may_path %> <br>
<%= link_to 'June 2016', june_path %> <br>
<%= link_to 'July 2016', july_path %> <br>
<%= link_to 'August 2016', august_path %> <br>
<%= link_to 'September 2016', september_path %> <br>
<%= link_to 'October 2016', october_path %> <br>
<%= link_to 'November 2016', november_path %> <br>
<%= link_to 'December 2016', december_path %> <br> <br> <br> <br> <br>
<%= link_to 'Back to Home Page', users_path %>