<style> 
	body {
			background-image: url("1.jpg");
			background-repeat: no-repeat;
			background-position: center right; 
			background-size: 400px 350px;
		 }
</style>

<h2> October 2016 Schedule for all the Employees </h2>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= hero.day %></td>
        <td><%= hero.User.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3> Note: On the days you are not Support Hero, you are Report Hero (implies your presence is needed ":)") </h3>
<%= link_to 'February 2016', pay_schedule_path %>
<%= link_to 'March 2016', march_path %> 
<%= link_to 'April 2016', april_path %>
<%= link_to 'May 2016', may_path %> 
<%= link_to 'June 2016', june_path %> 
<%= link_to 'July 2016', july_path %> 
<%= link_to 'August 2016', august_path %> 
<%= link_to 'September 2016', september_path %>
<%= link_to 'November 2016', november_path %> 
<%= link_to 'December 2016', december_path %> <br> 
<%= link_to 'Back to Home Page', users_path %>